.grl-button {
  padding: 0.7em;
  width: auto;
  min-width: 200px;
}
.accesButton {
  background-color: rgb(1, 105, 1)!important;
  color: #fff!important;
  border: none;
}
.accesButton:hover {
  background-color: rgb(5, 65, 5)!important;
}
.editButton {
  background-color: rgb(105, 179, 240)!important;
  color: #fff!important;
  border: none;
}
.editButton:hover {
  background-color: rgb(40, 80, 200)!important;
}
.deleteButton {
  background-color: rgba(168, 0, 0, 0.795)!important;
  border: none;
}
.deleteButton:hover {
  background-color: rgba(180, 0, 0)!important;
}
